.header-nav{
    display: flex;
    padding-left: 0
}

.header-nav__link{
    text-decoration: none;
    color:black;
    margin-right: 50px;
}

.header-nav__form{
    margin-right: 50px;
}

.header-nav__item{
    list-style: none;
    display: flex;
}

.timestamp__title{
    color:black;
    font-weight: normal;
    text-align: center;
    margin-bottom:50px ;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.button {
    margin: 5px;
    padding: 80px 200px;
    background-color:white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-right: 20px;
}

button:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}